.card { 
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px; 
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px; 
    margin: 10px; 
    text-align: center; 
    max-width: 500px;
    max-height: 500px;
    width:24%;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  
  .card .card-image{ 
    max-width: 60%;
    height: auto;
    border-radius:50%;
    margin-bottom: 10px; 
  
  }

  .allcards{ 

    position: fixed;
      top: 100px; 
      left: 350px;

    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
  }